/* Custom styles for ToastContainer */
.toast-container {
  margin-top: 20px; /* Adds spacing from the top */
  margin-right: 20px; /* Adds spacing from the right */
}

/* Make ToastContainer responsive for smaller screens */
@media (max-width: 768px) {
  .toast-container {
    margin-top: 10px; /* Less margin on mobile */
    margin-right: 10px; /* Less margin on mobile */
  }
}

@media (max-width: 480px) {
  .toast-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 5px auto; /* Less margin for very small screens */
  }
  .Toastify__toast {
    border-radius: 12px; /* Ensure rounded corners apply */
    font-size: 14px; /* Adjust text size for better readability */
    padding: 10px; /* Reduce padding for smaller screens */
  }
}

/* Override Quill toolbar background to white */
.ql-toolbar {
  background-color: white !important; /* Change header background to white */
  color: black !important; /* Set toolbar text color to black */
}

.ql-container {
  background-color: #b9b9b9 !important; /* Keep the editor content background dark */
  color: black !important; /* Ensure the text inside the editor is white */
}

/* Optional: Change the color of the icons in the toolbar */
.ql-toolbar .ql-picker,
.ql-toolbar .ql-button {
  color: black !important; /* Set the icons and button text color to black */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.event-description {
  text-align: justify;
  color: white; /* Tailwind's neutral-500 equivalent */
  font-size: 0.875rem; /* text-sm */
  line-height: 1.5rem; /* consistent spacing */
  padding: 0.5rem 1rem;
}

.event-description p {
  margin-bottom: 1rem;
  text-align: justify;
}

.event-description ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.event-description li {
  margin-bottom: 0.5rem;
  text-align: justify;
}
