@import url("https://fonts.googlehttps://nalandafresher.onrender.coms.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Gill Sans Extrabold", sans-serif;
  color-scheme: dark;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Hide scrollbar for all scrollable elements */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: none; /* Hide scrollbar */
  -ms-overflow-style: none; /* IE 10+ */
}

body {
  overflow-y: scroll; /* Enables scroll without causing scrollbar flash */
}

.event-description a {
  color: rgb(255, 29, 4);
  text-decoration: underline;
  cursor: pointer;
}
.event-description a:hover {
  text-decoration: underline;
  color: rgb(190, 79, 79);
}
.event-description strong {
  font-weight: 700;
}

.event-description em {
  font-style: italic;
}

.event-description blockquote {
  border-left: 4px solid #ccc;
  padding-left: 1rem;
  margin: 1rem 0;
  font-style: italic;
  color: #555;
}